node_modules/ 
.next/ 
.env.local 
*.log 
.vercel
-e ".env\n.env.*\n*.env\n" 
.env
.env.*
*.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/lib/generated/prisma
*.db
*.db-journal
dev.db

